<header class="app-header">
  <div class="logo">DeportSpanel</div>
  <nav>
    <a routerLink="/dashboard" routerLinkActive="active">
      Panel
    </a>  
    <a routerLink="/product" routerLinkActive="active">
      Productos
    </a>
    <a routerLink="/home" routerLinkActive="active">
      Cerrar Sesión
    </a>
  </nav>
</header>

<div class="container" style="min-height: 84vh;">
  <h1 style="text-align: center; margin-top: 25px; margin-bottom: 20px; -webkit-text-stroke-width: 1px; -webkit-text-stroke-color: #e50914;">Productos Deportivos API</h1>

  <div class="top-bar">
    <div class="search-box">
      <input type="number" [(ngModel)]="idBusqueda" placeholder="Buscar por ID" />
      <button class="btn-add" (click)="buscarPorId()">🔍 Buscar</button>
      <button class="btn-add" (click)="mostrarTodos()">Mostrar todos</button>
      <button class="btn-add" data-bs-toggle="modal" data-bs-target="#RegistrerModal">+ Registrar</button>
    </div>
  </div>

  <table class="table table-striped table-bordered table-hover">
    <thead class="table-danger">
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Cantidad</th>
        <th>Fecha</th>
        <th>Modificar</th>
        <th>Eliminar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of productos">
        <td>{{ p.idProductos }}</td>
        <td>{{ p.nombreProductos }}</td>
        <td>{{ p.descripcionProductos }}</td>
        <td>{{ p.cantidadProductos }}</td>
        <td>{{ p.fechaProductos }}</td>
        <td>
          <button class="btn-edit" (click)="openModal(p.idProductos)">✏️</button>
        </td>
        <td>
          <button class="btn-edit" (click)="eliminarProducto(p.idProductos)">🗑️</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="modal fade" id="RegistrerModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Registra El Producto</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="onSubmit(f)" #f="ngForm">
          <div class="form-group">
            <label>ID:</label>
            <input type="text" [(ngModel)]="products.idProductos" name="idProductos" required class="form-control" placeholder="Código del producto"/>
          </div>
          <div class="form-group">
            <label>Nombre:</label>
            <input type="text" [(ngModel)]="products.nombreProductos" name="nombreProductos" required class="form-control" placeholder="Nombre del producto"/>
          </div>

          <div class="form-group">
            <label>Descripción:</label>
            <input type="text" [(ngModel)]="products.descripcionProductos" name="descripcionProductos" required class="form-control" placeholder="Descripción del producto"/>
          </div>          

          <div class="form-group">
            <label>Cantidad:</label>
            <input type="number" [(ngModel)]="products.cantidadProductos" name="cantidadProductos" required class="form-control" placeholder="Cantidad del producto"/>
          </div>   

          <div class="form-group">
            <label>Fecha:</label>
            <input type="text" [(ngModel)]="products.fechaProductos" name="fechaProductos" required class="form-control" placeholder="Fecha registro del producto"/>
          </div>

          <button type="submit" class="btn-guardar">Guardar</button>
          <button type="button" class="btn-cerrar" data-bs-dismiss="modal">Cerrar</button>
        </form>
      </div>
      
    </div>
  </div>
</div>

<div class="modal fade" id="productModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content" *ngIf="selectedProduct">
      <div class="modal-header">
        <h5 class="modal-title" id="productModalLabel">Editar Producto</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label>Nombre:</label>
            <input type="text" [(ngModel)]="selectedProduct.nombreProductos" name="nombreProductos" class="form-control">
          </div>
          <div class="mb-3">
            <label>Descripción:</label>
            <input type="text" [(ngModel)]="selectedProduct.descripcionProductos" name="descripcionProductos" class="form-control">
          </div>
          <div class="mb-3">
            <label>Cantidad:</label>
            <input type="number" [(ngModel)]="selectedProduct.cantidadProductos" name="cantidadProductos" class="form-control">
          </div>
          <div class="mb-3">
            <label>Fecha:</label>
            <input type="string" [(ngModel)]="selectedProduct.fechaProductos" name="fechaProductos" class="form-control">
          </div>

          <button type="button" class="btn-cerrar" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn-guardar" (click)="updateSelectedProduct()">Guardar Cambios</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div>
  <footer class="text-center text-lg-start" style="background-color: #e50914; margin-top: auto;">

    <!-- Copyright -->
    <div class="text-center text-white p-3">
      © 2025 Ingeniería WEB II:
      <a class="text-white" href="#">Pablo Andres Mendoza Barreto</a>
    </div>
  </footer>  
</div>
